<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.zhangyanlong.dao.ArticleMapper">
 	
 	<resultMap type="com.zhangyanlong.entity.Article" id="articleList">
		<result property="channelId" column="channel_id"/>
		<result property="categoryId" column="category_id"/>
		<association property="channel" column="channel_id" javaType="com.zhangyanlong.entity.Channel" 
		   select="findChannel"></association>
		<association property="category" column="category_id" javaType="com.zhangyanlong.entity.Category" 
		   select="findCatigory"></association>
		   <association property="user" column="user_id" javaType="com.zhangyanlong.entity.User"  select="com.zhangyanlong.dao.UserMapper.findUserById"/>
 	</resultMap>
 	
 	
 	<select id="getArticleByUser"  resultMap="articleList">
 		SELECT id,title,channel_id,category_id , created,status 
		  FROM cms_article
		  WHERE user_id = #{value} AND deleted=0
		  ORDER BY id DESC  
 	
 	</select>
 
 
 	<!-- 获取频道 -->
	<select id="findChannel" resultType="channel">
		SELECT id,name FROM cms_channel WHERE id=#{value}
	</select>
	
	<!-- 获取分类 -->
	<select id="findCatigory" resultType="category">
		SELECT id,name FROM cms_category WHERE id=#{value}
	</select>
 
 
 	<select id="findById" resultMap="articleList">
		SELECT * FROM cms_article WHERE id=#{value} AND deleted=0
	</select>
	
	
	<select id="getList" resultMap="articleList">
		SELECT id,title,channel_id,category_id ,user_id, created,status,hot,complainCnt
		  FROM cms_article
		  WHERE  deleted=0
		  ORDER BY id DESC 
	</select>
	
	
	<!-- 获取热门文章 -->
	<select id="hostList" resultMap="articleList">
		SELECT id,title,channel_id,category_id ,user_id, created,picture
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		         AND hot = 1 
		  ORDER BY id DESC
    </select>
    
    
    <select id="getArticles" resultMap="articleList">
		SELECT id,title,channel_id,category_id ,user_id, picture, created
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		  	AND channel_id=#{channelId}
		  <if test="catId!=0">
		  	AND category_id=#{catId}
		  </if>   
		  ORDER BY id DESC 
    </select>
    
	<!-- 最新文章 -->
	<select id="lastList" resultMap="articleList">
		SELECT id,title,channel_id,category_id ,user_id, created
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		         AND hot = 1 
		  ORDER BY created ASC 
		  LIMIT #{value} 
    </select>
    
    
    
    	<select id="getListById" resultMap="articleList">
		SELECT id,title,channel_id,category_id ,user_id, created,status,hot,content
		  FROM cms_article
		  WHERE status = 1 AND deleted=0
		  <if test="channelId !=0 and channelId !=null">
		  	and channel_id = #{channelId}
		  </if>
		   <if test="categoryId!=0 and categoryId != null ">
		  	and category_id = #{categoryId}
		  </if>
		   <if test="hotId !=-1 and hotId !=null">
		  	and hot = #{hotId}
		  </if>
		  ORDER BY id DESC 
	</select>
	
	
	
		<resultMap type="complain" id="ComplainMapper">
			<result column="article_id" property="articleId"/>
			<result column="complain_type" property="complainType"/>
			<result column="src_url" property="srcUrl"/>
			<result column="compain_option" property="compainOption"/>
			<result column="user_id" property="userId"/>
			<association column="user_id" property="user" 
				javaType="com.zhangyanlong.entity.User"
				select="com.zhangyanlong.dao.UserMapper.findUserById"
			/>
		</resultMap>
	
	<select id="getComplains" resultMap="ComplainMapper">
		SELECT * FROM cms_complain where article_id=#{value}
	</select>
	
	
	<insert id="add" >
		INSERT INTO cms_article(title,content,picture,channel_id,category_id,user_id,hits,hot,status,deleted,created,updated,commentCnt,articleType)
			 VALUES(#{title},#{content},#{picture},#{channelId},#{categoryId},#{userId},0,0,0,0,now(),now(),0,#{articleType})
	
	</insert>
 </mapper>